
/* ----------------- FONTS ----------------- */

@font-face {
    font-family: corbel;
    src: url("Fonts/CORBEL.TTF") format("truetype");
}

@font-face {
    font-family: DTLDocumenta;
    src: url("Fonts/DTL Documenta ST Regular.otf") format("opentype");
}

/* ----------------- Basics ----------------- */

body {
    margin: 0;
	padding: 0;
	overscroll-behavior: none;
	overflow: hidden;
}

.background {
	position:absolute; 
	top:0; 
	left:0; 
	z-index: -5;
	width:100%; 
	height:100%; 
	border: none;
	background: linear-gradient(-45deg, #999999, #DFDFDF 100%);
}
	

/* ----------------- MenuHeader ----------------- */

.menu{

	position: absolute;
	left:-350px;
	min-width: 20%;
	height:100%;
	
	transition: .5s;
}




.burgerline { 
	position: absolute; 
	top: 25px;
	left: 13px;
	height: 2px; 
	width:15px;
	background: white; 
	display: block; 
	transition: .5s; 

}

.burgerline:nth-child(1) { top: 40%; transform: rotate(45deg); }
.burgerline:nth-child(2) { top: 60%; transform: rotate(-45deg);}


.aktiveModel{
	position: absolute;	
	top: 20px;
	left: 0px;
	width: 200px;
	border-radius: 50px;
	background-color: white;

	padding: 12.5px 35px 12.5px 400px;

	font-family:DTLDocumenta;
	text-align: center;
	font-size: 15pt;

	box-shadow: 5px 5px 10px #949496;
	transition: .5s;

}

.aktiveModel.checked{
	
	color: transparent;
	left: -250px;
	

}

.menu.checked {
	left:0px;

}



.MenuBut.checked .burgerline:nth-child(1){
	left: 12px;
	top:50%;
	transform: rotate(45deg);
}
.MenuBut.checked .burgerline:nth-child(2){
	left: 12px;
	top:50%;
	transform: rotate(-45deg);
}


.MenuBut{
	position:absolute;
	width: 40px;
	height:40px;
	top:25px;
	left:370px;
	background-color: #949496;
	cursor: pointer;
	border-radius: 50%;
	transition: .5s;
	

}
.MenuBut.checked{
	left:340px;

}

/* ----------------- MenuLeftSide ----------------- */


.ThemaContainer{
	overflow: scroll;
	position: absolute;
	top: 0px;
	left:0%;
	padding:10px;
	height:100%;
	width: 300px;
	background-color: white;
	box-shadow: 5px 5px 10px #949496;
	transition: .5s;
	
	z-index: 5;
	
}

.ThemaBox {
	
	border-radius: 10px 10px 10px 10px;
	margin: 5px 5px 5px 5px;
	padding: 0px;
	box-shadow: 0px 0px 0px transparent;
	transition: .5s;

}

.Thema {

	padding: 10px 40px;
	margin: 0px;
	position: relative;	
	text-align: center;
	font-family: DTLDocumenta;
	font-size: 12pt;
	top: -10px;
	color: white;
	transition: .5s;

	

	border-radius: 10px 10px 10px 10px;
	cursor: pointer;

}

.searchbar{
	position: relative;
	width: 225px;
	background-color: white;
	font-family: corbel;
	font-size: 15pt;
	
	border-color: #949496;
	border-style: solid;
	padding: 10px 20px;
	margin: 10px 5px;
	border-radius: 50px;
	transition: .5s;
}

.Model{
	padding: 5px 10px 5px 10px;
	color: black;
	margin:0px  10px -30px 10px;
	border-radius: 10px 10px 10px 10px;
	font-family: corbel;
	
	font-size: 12pt;
	opacity: 0;
	transition: .5s;
	display: block;
	
	text-decoration: none;
	
}

.Model:visited{
	text-decoration: none;
	color: black;
	
}

.Model:hover{
	background-color: #949496;
}

.Model.checked{

	opacity:1;
	color: black;
	margin:0px 10px 5px 10px;
	
	
}

.ThemaBox.checked {
	margin:5px 5px 15px 5px;
	padding: 0px 0px 5px 0px;
	box-shadow: 5px 5px 10px #949496;
	
}

.Thema.checked{
	
	
	margin: 0px;
	border-radius: 10px 10px 0px 0px;
	


}

.placeholder{
height: 20px;
}



.triangle {
	position:absolute;
	top: 12px;
	left:15px;
	padding: auto;

	width: 0;
	height:0;
	border-top: 5px solid transparent;
	border-left: 8px solid white;
	border-bottom: 5px solid transparent;
	transition:0.5s;
	
}

.triangle.checked {
	transform: rotate(90deg);
	
}


/* ----------------- IconsRightSide ----------------- */


.ARBtn{
	position: absolute;
	width: 40px;
	height: 40px;
	right:20px;
	top:20px;
	cursor: pointer;
}

.InfoBtn{
	position: absolute;
	width: 40px;
	height: 40px;
	right:20px;
	top:80px;
	cursor: pointer;
}

.InfoIMG{position: absolute;opacity: 1; transition: .5s;}

.CancelInfoIMG{position: absolute; box-shadow: 0px 0px 25px 5px white; border-radius: 50px; opacity: 0; transition: .5s;}
 
.InfoIMG.checked{position: absolute;opacity: 0;}

.CancelInfoIMG.checked{position: absolute;opacity: 1;}


.PrintBtn{
	position: absolute;
	width:40px;
	height: 40px;
	right:20px;
	top:140px;
	cursor: pointer;
}


.PrintIMG{position: absolute;opacity: 1; transition: .5s;}

.CancelPrintIMG{position: absolute; box-shadow: 0px 0px 25px 5px white; border-radius: 50px; opacity: 0; transition: .5s;}
 
.PrintIMG.checked{position: absolute;opacity: 0;}

.CancelPrintIMG.checked{position: absolute;opacity: 1;}

/* ----------------- InfoLayer ----------------- */

.tooltiptextrigth, .tooltiptextleft, .tooltiptexttop, .tooltiptextbottom {
	visibility: hidden;
	background-color: white;
	color: black;
	box-shadow: 5px 5px 10px #949496;
	border-radius: 6px;
	padding: 5px 5px;
	position: absolute;
	z-index: 1;
	font-family: corbel;
	opacity: 0;
	transition-property: visibility;
	transition-delay: 1s;
	transition-property: opacity;
	transition-delay: 0s;
	transition-duration: 1s;
  }

  .tooltiptextrigth{
	top: 5px;
	right: 50px;

  }

  .tooltiptextleft {
	top: 5px;
	left: 50px;

  }

  .tooltiptexttop{
	top: 50px;
	left: 0px;

  }

  .tooltiptextbottom {
	bottom: 50px;
	left:50%;

  }
  
  .tooltiptextrigth::after, .tooltiptextleft::after, .tooltiptexttop::after, .tooltiptextbottom::after{
	content: "";
	position: absolute;
	

	margin-top: -5px;
	border-width: 5px;
	border-style: solid;

  }
  .tooltiptextrigth::after{
	top: 50%;
	left: 100%;
	border-color: transparent transparent transparent white;
  }

  .tooltiptextleft::after {
	top: 50%;
	right: 100%;
	border-color: transparent white transparent transparent;
  }

  .tooltiptexttop::after{
	bottom: 100%;
	left: 20%;
	border-color: transparent transparent white transparent;
  }

  .tooltiptextbottom::after {
	top: 115%;
	left: 20%;
	border-color: white transparent  transparent transparent;
  }


  .tooltiptextrigth.checked, .tooltiptextleft.checked, .tooltiptexttop.checked, .tooltiptextbottom.checked {
	visibility: visible;
	opacity: 1;
  }


/* ----------------- LoadingLayer ----------------- */

.loading{
	position: absolute;
	border:none;
	top: 0px;
	height:100%;
	width:100%;
	opacity:1;
	background-color: #3f3f3f;
	transition: 1s;
	display: block;
	z-index: -1;
	
}

.loadingText{
	position: absolute;
	font-family: corbel;
	font-size: 15pt;
	width: 250px;
	margin-left: -125px;
	text-align: center;
	top: 60%;
	left: 50%;
	color:white;
	
}

.loadingcircle{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -38px;
	margin-top: -38px;
	border: 8px solid #f3f3f3; /* Light grey */
 	border-top: 8px solid #537272; /* Blue */
  	border-radius: 50%;
  	width: 60px;
  	height: 60px;
  	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }

.loading.checked{

	opacity:0;
	z-index: -2;

}


/* ----------------- PlayPauseBar ----------------- */



.playsliderbar {
	position: absolute;
	
	width: 94%;
	height: 50px;
	bottom:4%;
	left:3%;
	z-index: 0;
}

.playpausebtn {
	position: relative;
	
	width: 5%;
	height: 100%;
	top: 0px;
	left:-2%;
	
	
	
}



.playpause {
	position: absolute;
	
	box-sizing: border-box;
	height: 14.8px;
	margin:  17.6px 0px 17.6px 40%;
	
	
	border-style: solid;
	border-width: 7.4px 0 7.4px 12px;
	background-color: transparent;
	border-color: transparent transparent transparent #537272;
	cursor: pointer;
	will-change: border-width;
	transition: all .2s ease;
	
	
	cursor: pointer;

}
.playpause.checked {
	  border-style: double;
	  border-width: 0px 0 0px 12px;
	}
	
.playpause:hover {
	  border-color: transparent transparent transparent #3f3f3f;
	}
  
	.timeslider {
		position: relative;
		
		top:-50px;
		right: -3%;
		width:97%;
		height:100%;
		
	 } 
	.slider {
		position: absolute;
		-webkit-appearance: none;
		width: 100%;
		height: 4%;
		top: 23px ;
		border-radius: 5px;  
		background: #d3d3d3;
		outline: none;
		-webkit-transition: .2s;
		transition: opacity .2s;
		z-index: 5;
	}
	
	 .slider::-webkit-slider-thumb {
		-webkit-appearance: none;
		appearance: none;
		width:15px;
		height: 15px;
		border-radius: 50%; 
	
		background:#537272;
		cursor: pointer;
	  }
	
	  .stamps {
		position: relative;
		left:7px;
		top:21px;
		
		margin-right:10px;
		
	
		
		width: auto;
		height: 10px;
		
		
	}
	
	.stamp {
		position: absolute;
		left:0%;
		top:0%;
		margin: 0px 0px 0px -5px;
		width: 2px;
		height: 10px;
	
	
		
	
		background-color: #d3d3d3;
		
	
	}
/* ----------------- Labels ----------------- */

	.label {
		display: block;
		background-color: #537272;
		font-family: "Alte-Haas-Grotesk";
		
		border-radius: 10px;
		padding: 1px 10px 1px 10px;
		opacity: 1;
		color: white;
		
		font-size: 15px;
		transition: opacity 1.2s;
		
	}
	.label.hide {
	
		opacity: 0;
	
		
	}
	
	/* ----------------- QR ----------------- */

	.QRCanvas {
		position: absolute;
		transform: translate(-50%, -50%);
		padding: 25px 25px 100px 25px;
		width:300px;
		top:50%;
		left:50%;
		opacity: 0;
		transition: .5s;
		border-radius: 25px;
		box-shadow: 5px 5px 10px #949496;
		z-index:-10;
		background-color: white;
	}
	.printCanvas {
		position: relative;
		width:100%;
	
		
	}

	.QRCanvas.checked {
		opacity: 1;
		z-index: 10;
		
	}



	.Qrtypo {
		position: absolute;
		font-family: corbel;
		text-align: center;
		border-radius: 50px;
		font-size: 15pt;
		transform: translate(-50%, 0%);
		padding: 12.5px 30px 12.5px 60px;
		left:50%;
		bottom: 25px;
	
		border-style: solid;
		background-color: white;
		cursor: pointer;
		z-index: 11;
	}
	.downloadicon {
		position: absolute;
		top:10px;
		left: 20px;
		width: 30px;
		height: 30px;
	
		cursor: pointer;
	}
